$min-width: 320 + px;
$max-width: 1260 + px;
$width-mobile: 320 + px;
$width-mobile-h: 475 + px;
$width-tablet: 767 + px;
$width-desktop: 1200 + px;

$font-family: "Roboto", "Arial", sans-serif;

$text-color: #333333;
$link-color: #597db3;
$color-white: #ffffff;
$text-secondary: #808c9e;

$color-base-02: #f1f3f5;

$border-color: #dce2e8;

$attention-color: #ffdd2d;
